@using System.Globalization
@using Fds.Models
@model IEnumerable< Event > 

@{
    ViewData[ "Title" ] = "Index";
}

<div class="container-fluid" >
    <div class="col-md-5" >
        <table class="table" >
            <thead>
            <tr>
                <th>
                    Codice
                </th>
                <th>
                    @Html.DisplayNameFor( model => model.Name )
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Organizzatore
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if( !Model.Any() ) {
                <tr>
                    <td colspan="5" >Nessun Evento trovato!</td>
                </tr>
            }

            @foreach( var item in Model ) {
                <tr>
                    <td>
                        <a href="#" onclick="zoomOnEvent('@item.Id');" >@Html.DisplayFor( modelItem => item.Id )</a>
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Name )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.EventType.Type )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ApplicationUser.UserName )
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" >Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="col-md-6" >
        <div id="googleMap" ></div>
    </div>
</div>

@section HeadJs {
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD9l6ra1D-zYRPWx888u246zLloWbWuYps&libraries=places" ></script>
    <script src="js/googleMaps.js" ></script>
}

<script>
    $(document).ready(() => {
        initMap(false,
            () => {
                @foreach( var e in Model ) {
                    @:addEventMaker(new google.maps.LatLng(@e.Latitude.ToString( CultureInfo.InvariantCulture ), @e.Longitude.ToString( CultureInfo.InvariantCulture )), "@e.Id");
                }
            });
    });
</script>