@using Fds.Models
@model IEnumerable<Event>

@{
    ViewData["Title"] = "Gestione eventi";
}

<h2>Gestione eventi</h2>

<p>
    <a asp-action="Create">Crea nuovo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrizione
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
